# The action will run some basic checks on code pushed to main and dev.
# Google services is needed for the build, it is stored as a repo secret
# and fetched temporarily. We run each check in parallel to get the results
# as soon as possible.
name: Continuous Integration

on: 
  push:
    branches:
      - main
      - dev
    paths:
      - 'src/**'
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          sparse-checkout: src

      - shell: bash
        env:
          GOOGLE_SERVICES_BASE64: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: |
          cd $GITHUB_WORKSPACE/src
          echo "$GOOGLE_SERVICES_BASE64" | base64 --decode > app/google-services.json
          ./gradlew lint
          # Don't know how runner clearing works, but probably better destroy these now.
          unset GOOGLE_SERVICES_BASE64
          rm app/google-services.json

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          sparse-checkout: src

      - shell: bash
        env:
          GOOGLE_SERVICES_BASE64: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: |
          cd $GITHUB_WORKSPACE/src
          echo "$GOOGLE_SERVICES_BASE64" | base64 --decode > app/google-services.json
          ./gradlew test
          # Don't know how runner clearing works, but probably better destroy these now.
          unset GOOGLE_SERVICES_BASE64
          rm app/google-services.json

  instrumented-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          sparse-checkout: src

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: AVD cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-34

      - name: Create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: Run instrumented tests
        uses: reactivecircus/android-emulator-runner@v2
        env:
          GOOGLE_SERVICES_BASE64: ${{ secrets.GOOGLE_SERVICES_JSON }}
        with:
          api-level: 34
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: |
            cd $GITHUB_WORKSPACE/src
            echo "$GOOGLE_SERVICES_BASE64" | base64 --decode > app/google-services.json
            ./gradlew connectedDebugAndroidTest
            unset GOOGLE_SERVICES_BASE64
            rm app/google-services.json
